.compare {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.tools {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
}

.filterContainer {
  flex: 1;
}

.filter {
  width: 24%;
}

.save {
  width: 24%;
  float: right;
  margin-top: -8px;
}

.table{
  padding: 0 20px;
}
