.index {
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;
  position: relative;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 15px 0;
}

.filter {
  width: 100%;
  height: 83px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}

.upDragBox {
  position: relative;
  text-align: center;
  color: #999;
  font-size: 28rpx;
}
