.food-myTabs .at-tabs__header {
  width: 660px;
  height: 85px;
  padding: 0 20rpx;
  box-sizing: border-box;
}

.food-search .at-search-bar::after {
  border-bottom-width: 0;
}

.food-filter .at-tag {
  margin: 0 10px 10px 0;
}

.classify-detail .at-card__content {
  padding: 0;
}

.classify-detail .at-accordion__content {
  padding: 0px 20px;
  box-sizing: border-box;
}

.classify-detail .at-list__item .item-extra__info {
  padding-right: 0px;
}

.classify-detail .at-list__item::after {
  left: 18px;
  right: 18px;
}

.classify-detail .at-card__header {
  display: none;
}

.personCenter-container .at-list__item:nth-last-child(1)::after {
  border-bottom-width: 0;
}

.filterFood .at-tabs--vertical .at-tabs__item {
  justify-content: flex-start;
}

.filterFood .at-tabs--vertical .at-tabs__header {
  width: 178px;
  overflow: hidden;
  white-space: pre-line;
}

.filterFood .at-list__item {
  width: 570px;
}

.filterFood .at-list__item .item-content__info-title {
  white-space: inherit;
}

.filterFood .at-icon-chevron-right::before {
  content: "\E95E";
  color: #44b9ed;
  font-size: 30px;
}

.filterFood .at-list__item .item-extra__icon {
  margin-top: -9px;
}
