.food-myTabs .at-tabs__header {
  width: 660px;
  height: 85px;
  padding: 0 20rpx;
  box-sizing: border-box;
}

.food-search .at-search-bar::after {
  border-bottom-width: 0;
}

.food-filter .at-tag {
  margin: 0 10px 10px 0;
}
